<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Exclusive"
		gameType="Digital | PS5"
		gamePrice="R$ 299,90"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Digital"
		gameType="Disck | PS4"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Digital"
		gameType="Disck | PS4"
		gamePrice="R$ 250,00"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Digital"
		gameType="Disck | PS4"
		gamePrice="R$ 130,00"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Digital"
		gameType="Disck | PS4"
		gamePrice="R$ 120,00"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="Digital"
		gameType="Disck | PS4 & PS3"
		gamePrice="R$ 100,00"
	></app-card>
</div>
